# Environments
.venv/
.env

# Data & artifacts
data/
mlruns/
mlflow.db

# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/
build/
dist/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
